@page "/addchatroom"
@using MongoDB.Bson;
@using Privas.Data;
@using Privas.SupportClasses;
@using Privas.Connectors;
@inject IToastService toastService;
@inject NavigationManager NavManager;
@inject ProtectedLocalStorage localStorage;

<PageTitle>AddChatroom</PageTitle>

<Header />
<div id="add_chatroom_container">
    <div id="form_holder">
        <h1>Add Chatroom</h1>
        <input type="text" placeholder="Chatroom name" 
            @bind="name" 
        />
        <input type="text" placeholder="Access password" 
            @bind="password"
        />
        <button id="add_chatroom_submit" @onclick="CreateChatroom">Add!</button>
    </div>
</div>

@code {
    private string? name;
    private string? password;

    private async Task CreateChatroom()
    {
        if (name != null && password != null) 
        {
            toastService.ShowInfo("", "Loading");
            try 
            {
                var userName = await localStorage.GetAsync<string>("privas_currentUserName");
                var userCode = await localStorage.GetAsync<string>("privas_currentUserCode");
                string uniqueCode = UniqueCodeGenerator.Generate();
                MembershipConnector membershipConnector = new();
                Chatroom newChatroom = new()
                {
                    Name = name,
                    AccessPassword = password,
                    UniqueCode = uniqueCode,
                    OwnerUsername = userName.Value,
                    OwnerCode = userCode.Value
                };

                ChatroomConnector connector = new();
                await connector.Add(newChatroom.ToBsonDocument());
                toastService.ClearInfoToasts();
                toastService.ShowSuccess("", "Created Chatroom");
                Membership membership = new() 
                {
                    ChatId = uniqueCode,
                    UserId = userCode.Value,
                    UserName = userName.Value
                };
                await membershipConnector.Add(membership.ToBsonDocument());
                NavManager.NavigateTo("/chat/"+uniqueCode);
            }
            catch (Exception)
            {
                toastService.ShowError("", "Failed to add chatroom");
            }
        }
        else 
        {
            toastService.ShowInfo("Fill all the required data", "Error");
        }
    }
}