section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#chat_holder {
    width: 80%;
    height: 75vh;
    display: flex;
}

#chat_section_one {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#messages {
    height: 100%;
    background-color: white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow-y: auto;
    padding: 1% 2% 1% 2%;
}

.message {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1%;
}

.user_message {
    align-items: flex-end;
}

.user_message span {
    background-color: #f15025 !important;
}

.message span {
    max-width: 40%;
    min-width: 6%;
    padding: 0.5%;
    border-radius: 0.5rem;
    background-color: #3E4042;
    color: white;
    display: flex;
    align-items: center;
}

.message div {
    color: black;
}

#messages_holder {
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06) !important;
    border-radius: 0.25rem;
}

#message_input {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25;
    border: 1px;
    background-color: #e6e6e6;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    outline: none;
}

#chat_section_two {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#leave_remove_button {
    font-size: 2vh;
    border: none;
    color: white;
    background-color: rgb(192, 6, 6);
    border: 1px solid rgb(192, 6, 6);
    border-radius: 0.25rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-weight: 500;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06) !important;
}

#members_holder {
    height: 100%;
    background-color: white;
    border-radius: 0.25rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06) !important;
}

#members_holder span {
    width: 100%;
    text-align: center;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
    color: black;
}

#members_count {
    border-bottom: 0.5px solid #A0A0A0;
}

.member_delete {
    font-size: 2vh;
    border: none;
    color: red;
    background-color: white;
    font-weight: bold;
    border-radius: 0.5rem;
    outline: none;
    transition: 0.2s;
}

.member_delete:hover {
    color: burlywood;
    transition: 0.2s;
    cursor: pointer;
}