@inject ProtectedLocalStorage localStorage;

<header>
    <span>Username: @userName</span>
    <span>User code: @userCode</span>
    <button>End session</button>
</header>

@code {
    private string? userName;
    private string? userCode;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var currentUserName = await localStorage.GetAsync<string>("privas_currentUserName");
        var currentUserCode = await localStorage.GetAsync<string>("privas_currentUserCode");
        userName = currentUserName.Value;
        userCode = currentUserCode.Value;
        StateHasChanged();
    }
}