@page "/"

<PageTitle>Index</PageTitle>

<div id="index_container">
    <div id="first_half">
        <span id="app_name">PRIVAS</span>
        <span id="app_description">Website for private, quick chats</span>
    </div>
    <div id="second_half">
       <div id="second_half_content">
           <div id="username_form">
               <input type="text" placeholder="Username" />
               <button>Set username</button>
           </div>
           <span>And then</span>
           <div id="index_options_holder">
               <a href="">Browse roomchats</a>
               <span>Or</span>
               <a href="">Create a roomchat</a>
           </div>
       </div> 
    </div>
</div>