#second_half_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: #787b93;
    gap: 2vh;
}

#second_half {
   width: 75%; 
   font-size: 3vh;
}

#second_half span {
    color: black;
}

#index_container {
    display: flex;
}

#first_half {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
    height: 100vh;
    width: 25%;
    background-color: rgb(25 25 25);
}

#app_name {
    font-size: 6vh;
}

#app_description {
    font-size: 2.66vh;
}

#index_options_holder {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

#index_options_holder a {
    border-bottom: solid 2px black;
    transition: 0.5s;
}
#index_options_holder a:hover {
    transition: 0.5s;
    border-bottom: solid 2px #F15025;
}

input[type="text"] {
    color: white;
    width: 30%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06) !important;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.25;
    border: 1px;
    border-radius: 0.25rem;
    outline: none;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    font-size: 2.5vh;
}

input[type="text"]::placeholder {
    color: rgb(216, 216, 216);
}

#username_form {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1vh;
}

#username_form button {
    font-size: 2.5vh;
    border: none;
    color: white;
    background-color: #f15025;
    border: 1px solid #f15025;
    font-weight: bold;
    border-radius: 0.5rem;
    box-shadow: 0 4px 14px 0 rgb(241 80 37 / 75%);
    padding: 0.2% 1% 0.2% 1%;
    transition: all 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
    outline: none;
    transition: 0.35s;
}

#username_form button:hover {
    padding: 3px 17px;
    transition: 0.35s;
    cursor: pointer;
}