@page "/"
@inject ProtectedSessionStorage ProtectedSessionStore
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<div id="index_container">
    <div id="first_half">
        <span id="app_name">PRIVAS</span>
        <span id="app_description">Website for private, quick chats</span>
    </div>
    <div id="second_half">
       <div id="second_half_content">
           <div id="username_form">
               <input type="text" placeholder="Username" value="@username"
                    @oninput = "((ChangeEventArgs e) => username = e?.Value?.ToString())"  />
               <button @onclick="SetUsername">Set username</button>
           </div>
           <span>And then</span>
           <div id="index_options_holder">
               <a href="" @onclick="GoToChatrooms">Browse roomchats</a>
               <span>Or</span>
               <a href="">Create a roomchat</a>
           </div>
       </div> 
    </div>
</div>

@code {
    private string? username;

    private async Task SetUsername()
    {
        if (username != null)
            await ProtectedSessionStore.SetAsync("privas_currentUserName", username);
    }

    private async Task GoToChatrooms() 
    {
        var username = await ProtectedSessionStore.GetAsync<string>("privas_currentUserName");
        if (username.Value != null) 
        {
            NavManager.NavigateTo("/chatrooms");
        }
    }
}