@inherits LayoutComponentBase

<PageTitle>Privas</PageTitle>

<div id="container">
    <main>
        <article>
            @Body
        </article>
    </main>

    <footer>
        <b>Copyright © Privas. All Rights Reserved</b>
        <p>Version DEV-0001 | @Date</p>
        <a href="https://paczkowskiprogramming.pl">Author: Kamil Paczkowski</a>
    </footer>
</div>

@code {
    int Date = DateTime.Now.Year;
}